* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4C4C4;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 15%;
}

input {
    box-sizing: border-box;
    padding: 5px 13px;

    font-size: 3rem;
}

.suggestions {
    margin-bottom: 45px;
}

.suggestions__element {
    box-sizing: border-box;

    background-color: #E3E3E3;
    border: 2px solid #000000;

    font-size: 2rem;
    padding-left: 14px;
    cursor: pointer;
}

.suggestions__element:hover {
    background-color: #65CDF9;
}

.reps__element {
    box-sizing: border-box;
    position: relative;
    padding: 8px 16px;

    background-color: #E27BEB;
    border: 1px solid #000000;
    font-size: 1.5rem;
}

.delete-btn {
    position: absolute;
    display: block;
    top: 45px;
    right: 40px;
    width: 80px;
    cursor: pointer;
    background-color: #FF0000;
    transform: rotate(45deg);
}

.delete-btn::after {
    display: block;
    content: '';
    border: 2px solid #FF0000;
    background-color: #FF0000;
    transform: rotate(90deg);
}